@{
    Layout = "~/_siteLayout.cshtml";
    Page.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2><i><b>fashionstore.lk</b></i></h2>
            </hgroup>
        </div>
    </section>
}

<article>
    <p>
      <b> Fashion store is an Ecommerce site for specilised in</b>
    </p>

    <p>
   <b>  selling latest fashion items through online, you can purchase your</b>
    </p>

    <p>
       <b>favourable items in any currency and anywhere in the world </b>
    </p>

      <p>
     <b>We can deliver it to your door step on time</b>
    </p>

</article>
<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>
