<?xml version="1.0"?>
<configuration>
  
	<connectionStrings>
		<remove name="ConnectionStr" />

		<!--<add name="ConnectionStr"   connectionString="Data Source=LGSM-PC\MSSQL2012;Initial Catalog=fashionstore;Integrated Security=false;User ID=sa;Password=love123all;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"  providerName="System.Data.SqlClient" />-->
		 <!--<add name="ConnectionStr" connectionString="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_99BEA9_bahirathan;User Id=DB_99BEA9_bahirathan_admin;Password=love123all;" providerName="System.Data.SqlClient"/>-->
		<add name="ConnectionStr" connectionString= "Data Source=.\SQLEXPRESS;Initial Catalog=fashionstore;Integrated Security=False;User ID=sa;Password=love123all;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
<!--<system.net>
    <defaultProxy>
        <proxy usesystemdefault="False" proxyaddress="http://192.168.1.10:3128" bypassonlocal="True" autoDetect="False" /> 
     </defaultProxy> 
</system.net>-->
	
	<!--<services>
             <service behaviorConfiguration="ServiceBehavior" name="FashionStore">
                 <endpoint address="/Company" binding="wsHttpBinding" bindingConfiguration="WSHttpBindingConfig"
                   name="CompanyEndpoint" contract="CF.Interface.ICompany">
                 </endpoint>
                 <host>
                     <baseAddresses>
                        <add baseAddress="https://service.premilance.com/Company.svc"/>
                     </baseAddresses>
                 </host>
            </service>
  </services>--> 
		
<appSettings>
   <add key="Currency.Filename" value="~/currency.xml"/>
 </appSettings>
  
    
	<system.web>

   
    
      
  <webParts enableExport="true" />
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx"
     type="System.Web.Script.Services.ScriptHandlerFactory"
      validate="false"/>
		</httpHandlers>
		<!--<membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Spatial, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Data.Edm, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Data.OData, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Data.Services.Client, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Data.Services, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>

		</compilation>
	</system.web>

      
	<system.web>
		<anonymousIdentification enabled="true" />
		<profile defaultProvider="Demo_ProfileProvider">
			<providers>
				<add name="Demo_ProfileProvider" connectionStringName="ConnectionStr" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
			<properties>
				<add name="SCart" serializeAs="Binary" type="MensClothe.Cart" allowAnonymous="true" />
			</properties>
		</profile>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="HomePage.cshtml" />
			</files>
		</defaultDocument>
	</system.webServer>

	<system.data>

		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
    multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>